<div class="container">

  <div class="jumbotron" id="jumbo">
<h1 class="text-center"><span class="fas fa-hamburger"></span> Burgers!</h1>
<hr>
</div>

<h2>Here are some Burgers:</h2>
<hr>
<div class="row">
  <div class="col-6">
    <h3>Not Eaten:</h3>
    <hr>
<ul>
  {{#each burgers}}
  {{#unless devoured}}
  <li>
    <p>
      {{this.id}}. {{this.burger_name}}
      <button data-id="{{this.id}}" class="devoured">Devour it!</button>
    </p>
  </li>
  {{/unless}}
  {{/each}}
</ul>
</div>

<div class="col-6">
  <h3>Devoured! Yum!</h3>
  <hr>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  <li>
    <p>
      {{this.id}}. {{this.burger_name}}
    </p>
  </li>
  {{/if}}
  {{/each}}
</ul>
</div>
</div>
<div class="row">
  <div class="col-12">
    <hr>
<h3>Add a Burger:</h3>
<hr>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="bur" name="name">
  </div>


  <button type="submit">Add Burger</button>
</form>
</div>
</div>
</div>

